.container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 10%;
  height: 15vh;
  background-color: #fff;
  .left {
  }
  .center {
    /* identical to box height */

    display: flex;
    align-items: center;
    text-align: center;
    text-transform: uppercase;
    i {
      display: none;
      cursor: pointer;
      -webkit-touch-callout: none;
      -webkit-user-select: none;
      -khtml-user-select: none;
      -moz-user-select: none;
      -ms-user-select: none;
      user-select: none;
      transition: all 0.3s;
      font-size: 25px;
    }
    ul {
      margin: 0;
      padding: 0;
      list-style-type: none;
      display: flex;
      grid-gap: 20px;
      li {
        a {
          font-family: Futura MdCn BT;
          font-style: normal;
          font-weight: normal;
          font-size: 20px;
          line-height: 24px;
          color: #131212;
          text-decoration: none;
        }
        :hover {
          text-decoration: underline;
        }
      }
    }
  }
  .right {
    position: relative;
    cursor: pointer;
    .counter {
      position: absolute;
      top: -5px;
      right: -9px;
      width: 20px;
      border-radius: 50%;
      display: flex;
      align-items: center;
      justify-content: center;
      // padding: 3px 4px;
      span {
        font-family: SF Pro Text;
        font-size: 16px;
        line-height: 21px;
        display: flex;
        align-items: center;
        text-align: center;

        color: #ffffff;
      }
    }
  }
}
@media (min-width: 200px) and (max-width: 516px) {
  .container {
    .center {
      flex: 2;
      height: 100%;
      flex-direction: column;
      margin-right: 20px;
      align-items: flex-end;
      justify-content: center;
      position: relative;
      i {
        display: flex;
      }
      ul {
        position: absolute;
        z-index: 3;
        margin-top: 300px;
        flex-direction: column;
        box-shadow: 0px 18px 50px 2px rgba(148, 147, 150, 0.35);
        // border-radius: 26px;
        background-color: white;
        padding: 20px;
        li {
          text-align: right;
          margin: 10px 0;
        }
      }
    }
  }
}
